{% extends 'base.html' %}

{% block title %} {{ block.super }} - Home {% endblock title %}

{% block content %}
<h1>Welcome to µ-chan!</h1>
<h2>Latest Posts:</h2>

{% for post in posts %}
    <p>
    <span class="left"><a href="/post/{{post.id}}">
        <h3 class="inline">{{post.title}}</h3></a></span>
    <span class="right">by: {{post.user_id.username}}</span>
    </p>

    <img src={{post.image.url}} alt="{{post.title}}" class="center">

    
    <p>
    <span class="left">Upvotes: {{post.userUpVotes.all|length}} 
        - Downvotes: {{post.userDownVotes.all|length}}</span>
    <span class="right">Category: {{post.cat_id.cat}}</span>        
    </p><br>
    
    <p>
    <span class="left">Comments: {{post.comment_set.all|length}}</span>
    <span class="right">Tags: {{post.tags.all|join:", "}}</span>
    </p><br><br>
    
    <hr>
{% endfor %}
{% endblock content %}
