{% extends 'base.html' %}
{% load static %}
{% block title %}{{block.super}} - New Post{% endblock title %}

{% block stylesheet %}{{block.super}}
<link rel='stylesheet' type='text/css' href="{%static 'css/form.css' %}"/>
{% endblock stylesheet %}

{% block content %}
<div class='container'>
<h2>Create a new post</h2>
<a href="/?page={{ request.session.last_page }}"><h4>Go Back</h4></a>
<div class='new-post-form'>
    <form enctype="multipart/form-data" method='post' action=''>
        {% csrf_token %}
        {{ form }}
        <input type='submit' value='Submit' />
    </form>
</div>
{% endblock content %}