{% extends 'base.html' %}
{% load static %}

{% block title %} {{ block.super }} - {{title}} {% endblock title %}

{% block stylesheet %}{{block.super}}
<link rel='stylesheet' type='text/css' href="{%static 'css/form.css' %}"/>
{% endblock stylesheet %}

{% block content %}
<div class='container post'><p>
<span class="left"><h3 class="inline">{{title}}</h3></span>
<span class="right">by: {{username}}</span>
</p><hr>
<img src={{image}} alt="{{title}}" class="center">

<p>
<span class="left">Upvotes: {{upvotes}}</span>
<span class="right">Category: {{category}}</span>        
</p><br>

<p>
<span class="left">Downvotes: {{downvotes}}</span>
<span class="right">Tags: {{tags}}</span>
</p><br>
</div>
<div class="container comments">
<h4>Comments</h4><hr>
{% for comment in comments %}
<p>
    <h5>{{comment.user_id.username}}</h5>
    <span class="left">{{comment.body}}</span><br><br>
    <span class="smaller">Upvotes: {{comment.userUpVotes.all|length}} - Downvotes: {{comment.userDownVotes.all|length}}</span>
</p><br><hr>
{% endfor %}
</div>
<div class="container new-comment-form">
<h5>Post new Comment</h5>
<form method='post' action=''>
    {% csrf_token %}
    {{ form }}
    <input type='submit' value='Submit' />
</form>
</div>
{% endblock content %}